body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  

}
.navdiv{
    overflow: hidden;
    width: auto;
    height:auto;
    padding: 10px;
    border: 1px solid black;
    margin: 0;
    background-color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
   page-break-inside: 14px;
  page-break-inside: #E92129;
}
.navbar a {
    float: center;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;


}
.mySlides {
  display:none;
}

.container {
  position: relative;
  width: 50%;
}
h4{
    direction: rtl;
    font-size: 30px;
     font-weight: bold;
}
h6{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
h2{
    text-align: justify;
    text-indent: 50px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    direction: rtl;
    font-family: "Times New Roman", Times, serif;
     font-style: oblique;
     font-size: 50px;
     font-weight: bold;
}
.img_logo{
  position: absolute;
  top: 8px;
  left: 120px;
}
.img_slider{
  position: absolute;
  left: 100px;
}
#rcorners {
    border-radius: 25px;
    border: 2px solid ##7B7D7D;
    padding: 20px; 
    width: 200px;
    height: 150px;    
}
.box_size {
    width: 400px;
    height: 40px;
    border: 1px solid blue; 
}
.btred{
  background-color: #f44336;
  padding: 12px 24px;
}
.btcart{
  padding: 10px 24px;
  position: absolute;
  top:25px;
  right: 120px;

}


.specialdive{
    width: auto;
    height:400px;
    padding: 8px;
    border: 1px solid black;
    margin: 0;
    background-color: #E92129;
   
}

.divproducts{
    width: auto;
    height:450;
    padding: 10px;
    border: 1px solid white;
    margin: 0;
    background-color: #808080;
}

.dive3{
    width: auto;
    height:450px;
    padding: 20px;
    border: 1px solid black;
    margin: 0;
    background-color: #E92129;
   

}
.dive1{
    width: auto;
    height:350px;
    padding: 20px;
    border: 1px solid black;
    margin: 0;
    background-color: #E92129;
   

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: left;
    border-right:10px solid #CB020A;
    
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #E5E8E8;
}

.active {
    background-color: #ABB2B9;
}


